<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="bf3dp_workcell" params="prefix">
        <xacro:include filename="$(find abb_irb4600_40_255)/urdf/abb_irb4600_40_255_macro.xacro" />
        <xacro:abb_irb4600_40_255 prefix="robot_" />

        <xacro:include filename="./mu100_macro.xacro" />
        <xacro:mu100 prefix="motor_unit_" />

        <!-- link list -->
        <link name="${prefix}world" />

        <joint name="${prefix}world_robot" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="${prefix}world" />
            <child link="${prefix}robot_base_link" />
        </joint>

        <joint name="${prefix}world_motor_unit" type="fixed">
            <origin xyz="1.5 0 1" rpy="0 0 0" />
            <parent link="${prefix}world" />
            <child link="${prefix}motor_unit_base_link" />
        </joint>

    </xacro:macro>
</robot>
